---
title: "barcelona"
published: true
date: 2014-04-30
essay: true
thumb: /photos/2014/barcelona/thumb.jpg
---

<header class="vh-50 vh-100-ns w-100 dt white">
  <div style="background:url(/photos/2014/barcelona/001-barcelona.jpg) no-repeat center right;" class="dtc v-mid cover ph3 ph4-m ph5-l">
    <h1 class="f2 f-subheadline-l measure lh-title fw9 tc i">Barcelona</h1>
  </div>
</header>
<div class="lightbox w-90 mw9 center ph4-m ph5-l">
  <h2 class="lh-copy tc pv4 f2 fw2">The architecture</h2>

  <div class="flex-ns flex-wrap items-end">
    <div class="pv2 pa2-ns w-30-ns">
      <%= image_tag '002-barcelona.jpg' %>
    </div>
    <div class="pv2 pa2-ns w-70-ns">
      <%= image_tag '007-barcelona.jpg' %>
    </div>

    <div class="pv2 pa2-ns w-third-ns">
      <%= image_tag '003-barcelona.jpg' %>
    </div>
    <div class="pv2 pa2-ns w-third-ns">
      <%= image_tag '005-barcelona.jpg' %>
    </div>
    <div class="pv2 pa2-ns w-third-ns">
      <%= image_tag '006-barcelona.jpg' %>
    </div>

    <div class="pv2 pa2-ns w-two-thirds-ns">
        <%= image_tag '009-barcelona.jpg' %>
    </div>
    <div class="w-third-ns flex-ns flex-wrap">
      <div class="pv2 pa2-ns">
        <%= image_tag '008-barcelona.jpg' %>
      </div>
      <div class="pv2 pa2-ns">
        <%= image_tag '010-barcelona.jpg' %>
      </div>
    </div>
    <div class="pv2 pa2-ns w-50-ns">
      <%= image_tag '004-barcelona.jpg' %>
    </div>
    <div class="pv2 pa2-ns w-50-ns">
      <%= image_tag '011-barcelona.jpg' %>
    </div>
  </div>

  <h2 class="lh-copy tc pv4 f2 fw2">The people</h2>

  <div class="flex-ns flex-wrap items-end">
    <div class="pv2 pa2-ns w-30-ns">
      <%= image_tag '012-barcelona.jpg' %>
    </div>
    <div class="pv2 pa2-ns w-70-ns">
      <%= image_tag '013-barcelona.jpg' %>
    </div>
  </div>
  <div class="pv2 pa2-ns">
    <%= image_tag '016-barcelona.jpg' %>
  </div>
  <div class="flex-ns flex-wrap">
    <div class="pv2 pa2-ns w-25-ns">
      <%= image_tag '014-barcelona.jpg' %>
    </div>
    <div class="pv2 pa2-ns w-50-ns">
      <%= image_tag '017-barcelona.jpg' %>
    </div>
    <div class="pv2 pa2-ns w-25-ns">
      <%= image_tag '015-barcelona.jpg' %>
    </div>
  </div>

  <h2 class="lh-copy tc pv4 f2 fw2">The city</h2>

  <div class="flex-ns flex-wrap">
    <div class="pv2 pa2-ns w-50-ns">
      <%= image_tag '018-barcelona.jpg' %>
    </div>
    <div class="pv2 pa2-ns w-50-ns">
      <%= image_tag '019-barcelona.jpg' %>
    </div>

    <div class="pv2 pa2-ns w-third-ns">
      <%= image_tag '024-barcelona.jpg' %>
    </div>
    <div class="pv2 pa2-ns w-third-ns">
      <%= image_tag '021-barcelona.jpg' %>
    </div>
    <div class="pv2 pa2-ns w-third-ns">
      <%= image_tag '020-barcelona.jpg' %>
    </div>

    <div class="pv2 pa2-ns w-50-ns">
      <%= image_tag '025-barcelona.jpg' %>
    </div>
    <div class="pv2 pa2-ns w-50-ns">
      <%= image_tag '026-barcelona.jpg' %>
    </div>

    <div class="pv2 pa2-ns w-50-ns">
      <%= image_tag '022-barcelona.jpg' %>
    </div>
    <div class="flex-ns flex-column w-50-ns justify-between">
      <div class="pv2 pa2-ns">
        <%= image_tag '023-barcelona.jpg' %>
      </div>
      <div class="pv2 pa2-ns">
        <%= image_tag '027-barcelona.jpg' %>
      </div>
    </div>

    <div class="pv2 pa2-ns w-third-ns">
      <%= image_tag '028-barcelona.jpg' %>
    </div>
    <div class="pv2 pa2-ns w-third-ns">
      <%= image_tag '029-barcelona.jpg' %>
    </div>
    <div class="pv2 pa2-ns w-third-ns">
      <%= image_tag '030-barcelona.jpg' %>
    </div>
  </div>
</div>
