---
title: "van build part ii: framing and insulation"
published: true
date: 2020-09-14
tags: van
thumb: framing-5.png
---

There is no such thing as a flat wall in a van build. Most vehicles have
stamped panelling that tapers, curves and kinks, making it difficult to
design furniture and systems to fit. Also, the thin sheet metal
makes it difficult to affix wall treatment and fixtures.

READMORE

### framing

I found [this video of a very similar van][rainfall] wherein they framed out the
inside of the van with plywood to solve this problem. This also provides a void for
wiring and insulation to sit behind the inner wall material, like a house. I
used 3/4 inch plywood and PL/Liquid Nails to adhere the framing to the wall. PL
is slightly elastic when cured, which will hopefully resist vibration better
than something like epoxy.

<div class="swiper relative mb5">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <%= image_tag 'framing-1.jpg', alt: '' %>
        <p>The van wall before framing.</p>
      </div>
      <div class="swiper-slide">
        <%= image_tag 'framing-2.jpg', alt: '' %>
        <p>Using a piece of cardboard to make a template.</p>
      </div>
      <div class="swiper-slide">
        <%= image_tag 'framing-3.jpg', alt: '' %>
        <p>The passenger side wall with some framing. Not pretty or exact but
        that will be evened out by wall panelling.</p>
      </div>
      <div class="swiper-slide">
        <%= image_tag 'framing-4.jpg', alt: '' %>
        <p>Adding some cross pieces for strength lengthwise along the wall.</p>
      </div>
      <div class="swiper-slide">
        <%= image_tag 'framing-5.jpg', alt: '' %>
        <p>Using all the clamps for gluing framing for the window.</p>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next">&gt;</div>
  <div class="swiper-button-prev">&lt;</div>
</div>

### insulation

Insulation in van conversions is a controversial topic and I've seen a lot of conflicting opinions and information about it. Some say not to use fiberglass, not to use foam or bother with insulation at all. Usually builds only have an inch or two of space for insulation and the amount of windows in most vans can make that insulation ineffective. I decided that I would try to fit insulation where I could, if only to help with sound deadening. I used [1 inch Polyisocyanurate rigid board][polyiso] and spray foam to fill gaps. The board is easy to cut with a utility knife and is held in place with [PL 300][pl300].

<figure>
  <%= image_tag 'insulation-1.jpg' %>
  <figcaption>Showing the layer of insulation below the floor.</figcaption>
</figure>

<figure>
  <%= image_tag 'insulation-2.jpg' %>
  <figcaption>Beginning to place insulation on the wall.</figcaption>
</figure>

This phase was a slow and tedious process, with a lot of cutting and trips back and forth to the band saw in order to fit framing and insulation around all the vents, wheel wells and odd curves in the shell of the van, but hopefully it allows for a sturdy interior.

In the next post I'll talk about electrical.

[rainfall]:https://www.youtube.com/watch?v=1pagBrJHkYk
[pl300]:https://www.lepage.ca/en/lepage-products/build-things/construction-adhesive/pl-construction-adhesive/pl_300_foam_boardadhesive.html
[polyiso]:https://www.lowes.ca/product/foam-board-insulation/iko-polyisocyanurate-insulated-sheathing-1-in-x-4-ft-x-8-ft-337106
