<% wrap_layout :layout do %>
  <h1><%= current_page.title %></h1>
  <p><time><%= current_page.date.strftime('%b %e %Y') %></time></p>

  <article>
    <%= yield %>
  </article>


  <nav class="article-nav">
    <div>
      <% if current_page.previous_article %>
        <%= link_to "<- older: #{current_page.previous_article.title}", current_page.previous_article.url %>
      <% end %>
    </div>

    <div class="type--right">
      <% if current_page.next_article %>
        <%= link_to "newer: #{current_page.next_article.title} ->", current_page.next_article.url %>
      <% end %>
    </div>
  </nav>
<% end %>
