<% wrap_layout :layout do %>
  <h1><%= current_page.title %></h1>
  <p><time><%= current_page.date.strftime('%b %e %Y') %></time></p>

  <%= partial :youtube, locals: { id: current_page.data[:youtube] } %>

  <article class="lh-copy">
    <%= yield %>
  </article>

  <%= partial :pagination %>
<% end %>
