<% classes = ['photo-post']
  classes << "photo--#{current_page.data[:orientation]}" if current_page.data[:orientation]
  classes << "photo--essay" if current_page.data[:essay]
content_for :page_classes, classes.join(' ') %>
<% content_for :og_image do %>
  <% if current_page.data[:thumb] %>
    <meta property="og:image" content="<%= config[:hostname] %><%= image_path(current_page.data[:thumb]) %>" />
  <% else %>
    <meta property="og:image" content="<%= config[:hostname] %><%= image_path(current_page.data[:photo]) %>" />
  <% end %>
<% end %>
<% wrap_layout :layout do %>
  <% unless current_page.data[:essay] || locals[:essay] %>
    <figure class="mh0">
      <%= image_tag image_path(current_page.data[:photo]), alt: current_page.title %>
      <figcaption class="mv2"><%= current_page.title %></figcaption>
    </figure>
  <% end %>

  <article>
    <%= yield %>
  </article>

  <% if locals[:date] %>
    <p class="mt5 f6 tc">
      <%= link_to "#{current_page.date.year} photos", "/photos/#{current_page.date.year}" %>
    </p>
  <% else %>
    <%# <%= link_to 'photos', '/photos/' %1> %>
  <% end %>
<% end %>
