---
title: japan/taipei
published: true
date: 2019-07-08
essay: true
thumb: thumb.jpg
description: A photo diary of our trip to Japan and Taipei, March 2019.
---

<style>
body {
  font-size: 18px;
}
p {
  margin-block-end: 1.5em;
  margin-block-start: 1.5em;
}
</style>

<header class="vh-50 vh-100-ns w-100 dt white">
  <div style="background:url(/photos/2019/japan-taipei/thumb.jpg) no-repeat center right;" class="dtc v-mid cover ph3 ph4-m ph5-lt tc">
    <h1 class="dib pa1 pa3-ns ma0 f2 f-subheadline-l measure lh-title bg-black">日本/臺北市</h2>
    </br>
    <h2 class="dib pa1 pa3-ns ma0 f2 lh-title tracked-mega bg-black">japan/taipei</h2>
    </br>
    <h2 class="dib pa1 pa3-ns ma0 f4 f2-ns lh-title tracked-mega-ns bg-black">2019-02-26 — 2019-03-12</h2>
  </div>
</header>
<p class="f6 tr mr3">Tokyo from New York Bar.</p>

<div class="lightbox w-90 mw9 center ph4-m ph5-l georgia lh-copy">

  <div class="mv5 tc helvetica tracked-mega">
    <h2 class="f2 mb0">Tokyo</h2>
    <h3 class="tc ma0">東京</h3>
  </div>

  <div class="flex-l">
    <div class="pa2-ns measure f4 f3-ns">
      <p class="mt0">
        We landed in Tokyo in the evening, right off the subway into the crowds
        of Shibuya Crossing to meet our friend <a
        href="http://twitter.com/terminal_avenue">Adam</a>, who happened to be
        in town for work at the same time, staying in an Airbnb in the same building.
      </p>
      <p>
        He helped us ease into an unfamiliar city, leading us to
        good cafes, a jazz vinyl cafe and a smoky izakaya that stretched our
        idea of what Japanese food could be. Always order the "chef special",
        especially at an unfamiliar izakaya. It might end up being cartilage.
      </p>
    </div>

    <div class="pa2-ns">
      <%= image_tag '011-tokyo.jpg', alt: 'The view from our room in Shibuya.' %>
      <p class="f6 tr mt0">The view from our room in Shibuya.</p>
    </div>
  </div>

  <div class="ma2 tj cc2-l">
    <p>
      The prevailing image of Tokyo is a dense metropolis where everything moves at
      great speed, but once you move out of Shibuya Crossing or Shinjuku the energy
      calms down and splinters into a maze of side streets with jigsaw houses and
      apartments. That's where you find cafes like <a
      href="http://fuglen.com">Fuglen</a> and an unbeatable coffee experience at <a
      href="http://www.koffee-mameya.com">Koffee Mameya</a>, where we chose our beans
      out of a palette from beige to charcoal and met a roaster who lived for years in
      Toronto around the corner.
    </p>
    <p>
      We spent a lot of time wandering these streets looking for treasures in
      bookstores like <a href="https://dessinweb.jp">Dessin</a> and <a
        href="https://store.tsite.jp/daikanyama/">T-Site</a>. Tokyo is very walkable.
        If you have a destination that is one subway stop away, try walking instead.
        You may wander into a Japanese baseball apparel store on the way. When I return
        I'll leave half my suitcase empty for the impeccably curated thrift stores of
        Shimokitazawa.
    </p>
  </div>

  <div class="flex-ns flex-wrap items-center">
    <div class="pv2 pa2-ns w-20-ns">
      <%= image_tag '002-tokyo.jpg', alt: 'On the street in Shibuya.' %>
    </div>
    <div class="pv2 pa2-ns w-20-ns">
      <%= image_tag '003-tokyo.jpg', alt: 'Having a great time in Tsukiji Market.' %>
    </div>
    <div class="pv2 pa2-ns w-20-ns">
      <%= image_tag '010-tokyo.jpg', alt: 'Advanced fashion on the street in Shibuya.' %>
    </div>
    <div class="pv2 pa2-ns w-20-ns">
      <%= image_tag '008-tokyo.jpg', alt: 'This street was closed to traffic on Sunday in Ginza.' %>
    </div>
    <div class="pv2 pa2-ns w-20-ns">
      <%= image_tag '009-tokyo.jpg', alt: 'Ginza.' %>
    </div>
  </div>

  <div class="ma2 tj cc2-ns">
      <p class="mt0">
        My favourite buy of the whole trip was a tiny metric hex key multi tool
        from <a href="https://www.tokyu-hands.co.jp/en/list/shibuya/">Tokyo Hands</a>,
        which is a dozen floors of every kind of DIY-related good
        you can think off. When I go back I'll spend an entire afternoon at a
        <a href="https://www.vivahome.co.jp">Super Viva Home</a>, a Home Depot
        on steroids, which I didn't know about until after we returned from the
        trip.
      </p>
      <p>
        Our third day was the warmest and sunniest of our time in Tokyo, so we
        took the train to <a href="https://goo.gl/maps/PUgpEGBGJkPFk6LN9">Tsukiji Market</a>
        to buy a huge bag of candied ginger. The main building is being
        demolished so the market has spilled out into the side streets around it,
        narrow streets packed with people.
      </p>
      <p>
        Nearby is Hamarikyu Gardens, where we caught the beginning of the cherry
        blossoms and got a good look at
        <a href="https://en.wikipedia.org/wiki/Nakagin_Capsule_Tower">Nagagin Capsule Tower</a>.
      </p>

  </div>

  <div class="flex-ns items-center">
    <div class="pv2 pa2-ns">
      <%= image_tag '005-tokyo.jpg', alt: 'Near Tsukiji Market.' %>
    </div>
    <div class="pv2 pa2-ns">
      <%= image_tag '007-tokyo.jpg', alt: 'Ginza.' %>
    </div>
    <div class="pv2 pa2-ns">
      <%= image_tag '012-tokyo.jpg', alt: 'The neon of Shinjuku at night.' %>
    </div>
  </div>

  <div class="flex-ns">
    <div class="pv2 pa2-ns w-60-ns">
      <%= image_tag '001-tokyo.jpg', alt: 'Rainy day in Harajuku.' %>
      <p>
      The tower is the most fully-realized example of Japanese Metabolism, an
      architectural style that seems born out of the population explosion and rapid
      densification of post-war Tokyo. The idea was to build massive towers on
      floating platforms over water to expand Japan's usable acreage. The
      Capsule Tower is made of modular concrete pods (capsules) that are bolted onto
      two central towers. Theoretically a capsule could be moved or replaced as
      needed.
      </p>

      <p>
      Unfortunately the building fell into disrepair, for why I can't find good
      reason, but I'll guess that this idealistic, cramped, view of urbanization
      started to look pessimistic to the public over the years.
      </p>

    </div>
    <div class="pv2 pa2-ns w-40-ns">
      <%= image_tag '001-capsuletower.jpg', alt: 'Looking up at Nagakin Capsule Tower.' %>
      <p class="f6 tr mt0">Nagakin Capsule Tower.</p>
    </div>
  </div>

  <div class="flex-ns items-center">
    <div class="pv2 pa2-ns">
      <%= image_tag '004-tokyo.jpg', alt: 'Vendors at Tsukiji Market.' %>
    </div>
    <div class="pv2 pa2-ns">
      <%= image_tag '014-tokyo.jpg', alt: 'Crossing the street in Shinjuku.' %>
    </div>
    <div class="pv2 pa2-ns">
      <%= image_tag '015-tokyo.jpg', alt: 'Level crossing in Shimokitazawa.' %>
    </div>
  </div>

  <div class="ma2 flex-l items-center justify-between cf">
    <div class="w-50-m w-30-l mr3-m fl-m">
      <%= image_tag '016-tokyo.jpg', alt: 'Camera Town in Shinjuku.' %>
    </div>
    <div class="ph4-l w-40-l tj">
      <p class="mt0-m">
        Let's talk about food. Ramen was by far the highlight of our time in Tokyo. We
        have lots of ramen in Toronto, but it all seems to be one kind of thing: really
        heavy, over-salted pork broth with an egg in it. Don't get me wrong, it's
        great, but Tokyo really showcases the breadth of Japan's favourite comfort
        food.
      </p>

      <p>
        Right around the corner from our apartment was
        <a href="https://goo.gl/maps/6rfMRwxfBXn5o28k9">Oreryu Shio-Ramen</a>, a
        no-nonsense lunch spot that has perfected a spicy miso bowl.
        <a href="https://afuri.com">Afuri</a> in Harajuku is famous for a Yuzu
        broth ramen that is light and subtle. Finally,
        <a href="https://goo.gl/maps/cUrN4dRP8FMnccKc8">Bassanova</a>
        brought Thai influences, to their green curry and Tom-Yum ramens.
      </p>

      <p>
        Usually the Japanese improve on foreign food, but Japanese curry is
        not my favourite, which reminds me both in texture and presentation of
        microwaveable frozen curry back home.
      </p>

      <p>
        Most restaurants aren't open until at least 11 and Japan hasn't been
        infected by the brunch disease yet, so eating breakfast at convienence
        stores is your best option. Luckily the food there is great. Family
        Mart's egg salad sandwiches are out of this world; slightly spicy on
        perfectly spongy white bread.
      </p>
    </div>

    <div class="w-30-l">
      <%= image_tag '006-tokyo.jpg', alt: 'Sakura in Hamarikyu Gardens.' %>
    </div>
  </div>

  <div class="flex-ns items-center">
    <div class="pv2 pa2-ns">
      <%= image_tag '017-tokyo.jpg', alt: 'On the sidestreets in Shibuya.' %>
    </div>
    <div class="pv2 pa2-ns">
      <%= image_tag '018-tokyo.jpg', alt: 'Tokyo.' %>
    </div>
  </div>

  <div class="ma2 tj cc2-ns">
    <p class="mt0">
      Tokyo is also a great drinking city, even though Osaka has the
      reputation. <a href="http://bridge-shibuya.com">Bar Bridge</a> makes a mean Moscow Mule and always
      seems to have a great DJ. <a href="https://en.wikipedia.org/wiki/Shinjuku_Golden_Gai">Golden Gai</a> is three narrow
      alleyways near Shinjuku lined with themed 10-seat bars, our favourite of
      which was playing death metal, screening B-Horror on VHS and tended by a
      man who looked like the Japanese Wayne Campbell. There's also a mini
      Golden Gai just north of Shibuya Station, with a few rows of tiny bars
      worth having a yuzu soda in.
    </p>

    <p> Our most expensive meal was two drinks and some bar snacks at the New
      York Bar on top of the Park Hyatt Shinjuku. Yeah, the bar from <em>Lost
        in Translation</em>, a movie I love and I don't care what anybody else
      says. The function of the bar in the movie is to symbolize purgatory: $30
      martinis and a $20 cover charge for the privilege of city views and some
      syrupy, teeth clenching vocal jazz. Also the next table is a bunch of
      German programmers wearing cargo shorts and Birkenstocks. It's website
      says "New York Bar effortlessly evokes the spirit of its namesake: the
      city that never sleeps," which is true if it's trying to evoke the spirit
      of drinking the minibar at a room in Trump Tower.
    </p>

    <p>
      But I loved it, and was one of my favourite things we did in the city. It serves up
      some impersonation and alienation that I think is important to experience in a
      new place. It grounded me more than a visit to the Imperial Palace would have.
    </p>

  </div>

  <div class="mv5 tc helvetica tracked-mega">
    <h2 class="f2 mb0">Hakone + Kawaguchiko</h2>
    <h3 class="tc ma0">箱根町 + 河口湖</h3>
  </div>

  <div class="flex-ns pv2">
    <div class="w-40-ns ph2-ns pr4-ns">
      <%= image_tag '019-hakone.jpg', alt: 'A view of the Hakone Tozan Line in Hakone.' %>
    </div>
    <div class="w-60-ns ph2-ns flex-ns flex-column justify-between">
      <div>
        <p class="f4 f3-l mt0">
          After six nights in Tokyo we figured we would want some time out of
          the city and were eager to try staying at a Ryokan. So why not spend two
          nights in a row? I don't recommend this. A ryokan is a traditional
          Japanese inn with a multi-course kaiseki meal for dinner and
          breakfast, access to communal or private baths (usually fed from a
          hot spring) and sleeping on the floor, which is why I don't recommend
          doing it two nights in a row.
        </p>
      </div>
      <div>
        <%= image_tag '020-hakone.jpg', alt: 'On the train in Hakone.' %>
      </div>
    </div>
  </div>

  <div class="ma2 tj cc2-ns">
    <p class="mt0">
      Our first ryokan was north of Hakone, a pretty little village that's a
      popular day or weekend trip for Tokyoites. You take the oldest mountain
      train line in Japan, the <a href="https://en.wikipedia.org/wiki/Hakone Tozan
        Line">Hakone Tozan Line</a> up the mountain and through three
      switchbacks (the driver and attendant get out and change positions at
      either end of the train and communicate that it's clear to proceed with
      great choreography) to where all the ryokans are. The inn was small,
      with what seemed like only a handful of employees and maybe a dozen
      rooms.
    </p>
    <p>
      Our second ryokan was in the town of Kawaguchiko, a through and
      through resort town centred around Mt. Fuji tourism. This place was a
      lot less traditional: a five story hotel with a larger dining-hall
      space for breakfast and dinner in private rooms with. Like a Holiday
      Inn with communal baths. Not as homely as the ryokan in Hakone.
    </p>
    <p>
      Upon check in you are thanked profusely by a manager who leads you to your
      room and points out every feature in case you've never stayed in a hotel
      before, punctuated by lots of bowing. "Thank you for staying at my hotel",
      she said, kneeling at the threshold before locking us in to enjoy our tea.
    </p>
    <p>
      Both had great food but Hakone's was more understated, staying
      true to the local ingredients. The highlight was beef marinated in miso paste
      that you cook yourself over a flame on your table. There were definitely
      some "what is this" moments, with textures and ingredients that required
      some adventurousness, and more familiar fare like sashimi, varieties of
      delicious pickled vegetables and rice.
    </p>
    <p>
      Are you ready for breakfast? Because it's pretty much exactly like dinner.
      Lot's of fish first thing in the morning.
    </p>
  </div>

  <div class="mv5 tc helvetica tracked-mega">
    <h2 class="f2 mb0">Kyoto</h2>
    <h3 class="tc ma0">京都</h3>
  </div>

  <div class="flex-l justify-between">
    <div class="w-50-m w-40-l ma2 fl-m mr4-m">
      <%= image_tag '026-kyoto.jpg', alt: 'Fushimi Inari Shrine.' %>
    </div>
    <div class="w-60-l ma2 tj cc2-l">
      <p>
        After two nights on the floor we had a day of travel back down out of the
        mountain from Kawaguichiko to Tokyo and got on the
        <a href="https://en.wikipedia.org/wiki/Tōkaidō_Shinkansen">Tōkaidō Shinkansen</a>
        to Kyoto. Sitting on a train going 285 km/h, after a week of experiencing
        efficient transit and a respectful populace, is what seeded the phrase "oh this
        is what it's like to live in a real country" in my head. It's insane that we
        don't have any high speed rail in North America.
      </p>
      <p>
        After the sprawling expanse of Tokyo, Kyoto feels like a city you can get a
        grasp of. We only booked one night there and while I would go back, I think we
        got the gist. After getting off the train we headed west from downtown to
        Arashiyama, a beautiful curve of the Katsura River full of Instagram bait like the
        <a href="https://g.page/arashiyama-bamboo-forest?share">Arashiyama Bamboo
        Forest</a> and the <a href="http://monkeypark.jp">Monkey Park</a>.
      </p>
      <p>
        Kyoto is the city we visited that best represents the tangible conflict
        between social media and tourism in an old place. Everywhere you look
        there are tourists in rented kimonos tripping up ancient steps in
        traditional sandals to pose for selfies. My instinct was to be a little
        disgusted, but who the fuck am I? I'm a guy taking photos of tourists
        in kimonos instead of learning about the shrine and its history.
      </p>
      <p>
        It's a very beautiful city and life seems to move at a slower pace than the other
        cities we visited on this trip. In March it smelled like wood stoves as we rode
        around it on our rented bikes; the best way to see the city. You can't ride a
        block without passing another shrine and they all start to blend together to my
        loss. I wish I knew more about the architecture and the history.
      </p>
      <p>
        Conversely I don't think anyone needs to be an expert to travel. I've had
        plenty of great experiences going to a new place and learning a lot, but at
        certain shrines in Kyoto there is such a throng of young people who don't seem
        to give a shit about their surroundings other than how it looks through their
        phones that it becomes distracting and prevents you from really engaging with the
        place.
      </p>
      <p>
        The <a href="http://inari.jp/en/">Fushimi Inari Shrine</a> was by far the most
        busy but it pays off. Hundreds of wooden <a href="https://en.wikipedia.org/wiki/Inari_shrine">inari</a>
        line stepped paths that wind up an
        escarpment. Arrive ready to climb stairs and rush through the people
        milling about the lower loop of shrines and head towards the peak. The crowds
        thin out and you're allowed to experience the magnitude of remembrance, labour,
        and history in those shrines. Their number multiplies this feeling with every step.
      </p>
      <p>
        Luckily Kyoto has some natural defenses against the onslaught of tourists.
        As we reached a landing on the steps a crowd was gathered around a
        monkey and its baby on a railing and everyone was getting photos.
        An Austrailian woman got next to it and turned her back to frame a selfie,
        which it reacted to with swatting at her phone and tugging on her
        sweater. I managed to get a photo.
      </p>
    </div>
  </div>

  <div class="flex-ns items-center">
    <div class="pv2 pa2-ns">
      <%= image_tag '028-kyoto.jpg', alt: 'Rented kimonos in Kyoto.' %>
    </div>
    <div class="pv2 pa2-ns">
      <%= image_tag '025-kyoto.jpg', alt: 'Getting attacked by a monkey.' %>
    </div>
    <div class="pv2 pa2-ns">
      <%= image_tag '021-kyoto.jpg', alt: 'Near the bamboo forest in Arashiyama.' %>
    </div>
  </div>

  <div class="flex-ns items-center">
    <div class="pv2 pa2-ns">
      <%= image_tag '022-kyoto.jpg', alt: 'Arashiyama, Kyoto.' %>
    </div>
    <div class="pv2 pa2-ns">
      <%= image_tag '027-kyoto.jpg', alt: 'Higashiyama Jisho-ji temple in Kyoto.' %>
    </div>
  </div>

  <div class="mv5 tc helvetica tracked-mega">
    <h2 class="f2 mb0">Osaka</h2>
    <h3 class="tc ma0">大阪市</h3>
  </div>


  <div class="pv2 pa2-ns">
    <%= image_tag '002-osaka.jpg', alt: 'After the game at Koshien Stadium.' %>
  </div>

  <div class="ma2 tj cf cc2-ns">
    <p>
      Since we spent the day of our first night in Osaka riding bikes around
      Kyoto that left us with only one full day in the former before flying
      to Taipei. I'm glad we spent it on baseball. Anyone we asked about
      baseball in Japan said to go to a
      <a href="https://en.wikipedia.org/wiki/Hanshin_Tigers">Hanshin
        Tigers</a> game, who have played in the same stadium since their
      inception in 1936, making it the Fenway Park of the NPB.
    </p>
    <div class="fr ml3 w-40-ns">
      <%= image_tag '004-osaka.jpg', alt: 'My new Hanshin Tigers hat.' %>
      <p class="f6 tr mt0">My new Hanshin Tigers hat.</p>
    </div>
    <p>
      It was a perfect sunny day for baseball and like everything else, the Japanese
      have perfected the baseball experience. Everyone is patient waiting in line for
      tickets, the food is great and "beer girls" outfitted with kegs in backpack
      harnesses and holsters of cups come right to you so your glass is never
      empty.
    </p>
    <p>
      After the game we wandered the Dotonbori district, careful to avoid restaurants
      with high seating fees. We ended up at a Chinese restaurant as a preview of
      Taipei and had our first soup dumplings of the trip, charred asparagus and more
      beer.
    </p>
    <p>
      I searched my phone for something different and we found a small vinyl bar
      nearby. The bartender/owner served us yuzu sodas with <a href="https://en.wikipedia.org/wiki/Calpis">Calpis</a> as friends and expats who stay at the hostel upstairs joined the
      party. There was a German couple who were there on their honeymoon, an old friend of the
      bartender who told me he coached Yu Darvish on his high school
      hockey team and told him to stick to baseball because he couldn't skate,
      and a guy from Boston who I suspect was a real life weaboo. I have found nothing online
      to corroborate that Yu Darvish even played hockey.
    </p>
    <p>
      If you don't know what a weaboo is I don't blame you. It's a derogatory term placed on
      someone obsessed with Japanese culture to the point of disability. The bartender
      told me there was a huge <a href="https://en.wikipedia.org/wiki/Cosplay">cosplay</a> festival
      up the street that we missed because we were at the game. It was dark, but
      I was pretty sure Boston guy was wearing coloured contacts he may forgotten to remove
      after getting out of his costume. He had recently moved to
      Osaka to be with his Japanese girlfriend and was on the job hunt. I didn't ask about the contacts.
    </p>
    <p>
      The next morning we battled serious hangovers on the train to the airport
      to fly WOW AIR to Taipei and get screwed by their cabin baggage weight
      restrictions.
    </p>
  </div>

  <div class="flex-ns items-center">
    <div class="pv2 pa2-ns">
      <%= image_tag '003-osaka.jpg', alt: 'On the train in Osaka.' %>
    </div>
    <div class="pv2 pa2-ns">
      <%= image_tag '005-osaka.jpg', alt: 'Dotombori, Osaka.' %>
    </div>
  </div>

  <div class="mv5 tc helvetica tracked-mega">
    <h2 class="f2 mb0">Taipei</h2>
    <h3 class="tc ma0">臺北市</h3>
  </div>

  <div class="flex-l">
    <div class="w-40-m w-30-l fl-m ma2 mr3-m">
      <%= image_tag '033-taipei.jpg', alt: 'Taipei streets at night.' %>
    </div>
    <div class="ma2 ph4-l w-40-l tj">
      <p class="mt0">
        Taipei is one of the most beautiful cities I've visited. The Taiwanese
        approach density with a lot more improvisation and spontaneity than the
        Japanese do.  Every nook and cranny is utilized. Awnings made
        weatherproof with corrugated sheet metal and everyone has lots of
        plants. At night the trees shade concrete walls from the streetlights
        and unlit neon, shrouding the streets in a grungy retro-futurism.
      </p>

      <p>
        In the daylight the alleys are alive with colour. The houseplants
        fill the streets with green, trees grow from impossibly narrow spaces,
        buildings are painted or covered in coloured tile. Every street corner
        is a market, bank, laundry, meeting place. Scooters are everywhere.
      </p>

      <p>
        The age of the buildings and this level of urban creativity reads as
        "dirty" at first glance, but you have to look deeper. Whenever you hear
        someone describe a place as dirty, hear that as some colonial bullshit. The
        earth is dirty.
      </p>

      <p>
        We bought a book that told us that Taipei is morphing out of its industrial
        past into a cosmopolitan city of technology and art—old factories converted to
        artists spaces, cafes, the language of gentrification in North America.
        And while you certainly notice the old against the new, it doesn't seem to be
        such a barbaric process in Taipei as elsewhere.
      </p>
    </div>
    <div class="ma2 w-30-l">
      <%= image_tag '043-taipei.jpg', alt: 'Taipei streets by day.' %>
    </div>
  </div>

  <div class="flex-ns items-center">
    <div class="pv2 pa2-ns">
      <%= image_tag '035-taipei.jpg', alt: 'A parkette in Taipei.' %>
    </div>
    <div class="pv2 pa2-ns">
      <%= image_tag '042-taipei.jpg', alt: 'A key cutter at work.' %>
    </div>
    <div class="pv2 pa2-ns">
      <%= image_tag '036-taipei.jpg', alt: 'Memorial Hall Square.' %>
    </div>
    <div class="pv2 pa2-ns">
      <%= image_tag '044-taipei.jpg', alt: 'On the street in Taipei.' %>
    </div>
    <div class="pv2 pa2-ns">
      <%= image_tag '039-taipei.jpg', alt: '7-Eleven and exercise.' %>
    </div>
  </div>

  <div class="ma2 mb3 tj cf cc2-m cc3-l">
    <p>
      The whine of motorscooters is omnipresent. Taipei is generally louder than
      our time in Japan. The streets are louder, the food is louder and the
      humidity raises the volume even more. There's a rush of traffic everywhere
      that we didn't experience in Tokyo, where the major streets are narrower and
      harder to navigate by car. We got around on bikeshares rented by the hour
      from stands throughout downtown. Riding the streets at rush hour, with the
      scooters rushing past you, is a thrill.
    </p>

    <p>
      The volume extends to cuisine. Stinky Tofu is a Taiwanese specialty and is
      no doubt the loudest smelling food I've ever been near. We couldn't bring
      ourselves to try it, especially when the stench stretches out through an enclosed
      space, like a mall food court.
    </p>

    <p>
      Taipei's night markets are a great way to get some variety. Dumplings,
      fried shrimp, sweet potato balls and frozen deep fried milk were highlights.
      <a href="https://en.wikipedia.org/wiki/Din_Tai_Fung">Din Tai Fung</a> is an
      admired chain of restaurants specializing in xiaolongbao, or soup dumplings.
      Most travel guides mention long waits but we were able to sit down almost
      immediately mid-day because we were willing to sit at a communal table. The
      truffle and pork xiaolongbao are rich and decadent.
    </p>

    <p>
      We only had two nights in Taipei and will definitely be back. On our last
      day we managed to squeeze in a hike up
      <a href="https://goo.gl/maps/4jbEpbrXq1zJ2M8A9">Elephant Mountain</a> and
      great views of the city before getting on our flight home.
    </p>
  </div>

  <div class="flex-ns items-center">
    <div class="pv2 pa2-ns">
      <%= image_tag '037-taipei.jpg', alt: 'The old in full view.' %>
    </div>
    <div class="pv2 pa2-ns">
      <%= image_tag '040-taipei.jpg', alt: 'On Elephant Mountain.' %>
    </div>
    <div class="pv2 pa2-ns">
      <%= image_tag '041-taipei.jpg', alt: 'At the foot of Elephant Mountain.' %>
    </div>
    <div class="pv2 pa2-ns">
      <%= image_tag '034-taipei.jpg', alt: 'A residential street downtown.' %>
    </div>
  </div>

  <div class="pv2 pa2-ns">
    <%= image_tag '045-taipei.jpg', alt: 'Parking.' %>
  </div>
</div>

<!-- vim: tw=80 wrap
-->
