---
blog: articles
---
<aside>
  <%= image_tag '/photos/2014/003-barcelona,%202014.jpg' %>
</aside>

<section>
  <p>I'm Tyler and I make things in Toronto, Canada.</p>
</section>

<% if blog.articles.length > 0 %>
<section>
  <h2>latest articles</h2>
  <ul class="article-list unstyled">
    <% blog.articles[0...5].each do |article| %>
      <li>
        <p>
          <a href="<%= article.url %>"><%= article.title %></a> <time><%= article.date.strftime('%b %e %Y') %></time></p>
        <% if article.data[:description] %>
          <p><%= article.data[:description] %></p>
        <% end %>
    </li>
  <% end %>
</ul>
<% end %>
</section>
