---
projects:
- name: jeep subwoofer swap
  type: build
  progress: 20
- name: tylerball.net
  type: web
  progress: 60
- name: lansdowne
  type: web
  progress: 60
- name: outfeed table
  type: build
  progress: 10
- name: shop vac + cyclone cart
  type: build
  progress: 5
- name: music desk
  type: build
  progress: 100
---

<% content_for :extra_css, stylesheet_link_tag('progress') %>

<h2>projects in progress</h2>

<section>
  <ul class="project-list" id="project-list">
    <% current_page.data.projects.each do |project| %>
      <li class="project project-<%= project.type %>">
        <h4><%= project.name %></h4>
        <progress class="project-progress" max="100" value="<%= project.progress.to_s.rjust(2, '0') %>">
          <strong>Progress: <%= project.progress %>%</strong>
        </progress>
      </li>
    <% end %>
  </ul>

  <aside>
    <div class="key">
      <ul class="key-list">
        <% current_page.data.projects.uniq{|x| x.type}.each do |project| %>
          <li class="key-<%= project.type %>"><%= project.type %></li>
        <% end %>
      </ul>
    </div>

    <p>
      Thanks to Brad Frost's <%= link_to 'progress', 'https://github.com/bradfrost/progress' %> for the inspiration.
    </p>
  </aside>
</section>

<script type="text/javascript">
  var progress = document.querySelectorAll(".project-progress");
  [].forEach.call(progress, function(el) {
    el.classList.add("start");
    setTimeout(function() { el.classList.remove("start"); el.classList.add("anim")  }, 10);
  });
</script>
