---
title: "algonquin: six portages in august"
published: true
date: 2015-08-31
essay: true
thumb: algonquin-thumb.jpg
tags: canoe-trip
---

<header class="vh-50 vh-100-ns w-100 dt white">
  <div style="background:url(/photos/2015/algonquin/001-algonquin.jpg) no-repeat center right;" class="dtc v-mid cover ph3 ph4-m ph5-l">
    <h1 class="f2 f-subheadline-l measure lh-title fw9">Algonquin</h1>
    <h2 class="f6 fw6">Six portages in August</h2>
  </div>
</header>
<div class="lightbox w-90 mw9 center serif ph4-m ph5-l">
  <div class="lh-copy measure center pv4 f5">
    <p>
      This year we decided to challenge ourselves. Last year we only had one portage at only 100 or so metres; it meant we could pack as much as we wanted, for it was simple to make multiple trips from one lake past some rapids down to the river below. We’d heard good things about Misty Lake, but getting there required a 20 km paddle with six portages varying from 150 metres all the way to a kilometre. Multiple trips on a portage of that length could eat up a half hour or more of our travel day. Single trips would take some serious packing skills.
    </p>
  </div>

  <div class="flex-ns flex-wrap-m items-end">
    <div class="pv2 pa2-ns w-50-m">
      <%= image_tag '002-algonquin.jpg' %>
    </div>
    <div class="pv2 pa2-ns w-50-m">
      <%= image_tag '003-algonquin.jpg', class: 'vertical' %>
    </div>
    <div class="pv2 pa2-ns w-50-m">
      <%= image_tag '004-algonquin.jpg' %>
    </div>
    <div class="pv2 pa2-ns w-50-m">
      <%= image_tag '005-algonquin.jpg' %>
    </div>
  </div>

  <div class="pv2 pa2-ns">
    <%= image_tag '006-algonquin.jpg' %>
  </div>

  <div class="lh-copy measure center pv4 f5">
    <p>We didn’t exactly make all the portages in a single trip. Some packs were heavier and more uncomfortable than others. But we made it. Camp was set up as it got dark and dinner was made before everyone fell over from exhaustion.</p>

    <p>Our stay coincided with a radiant moon that blew out the sky when hidden by clouds and lit up the lake when the sky was clear. Jen and I spent a night on the beach and we could see clear across the lake whenever were woken by a noise from the bushes or the ripples on the shore.</p>
  </div>

  <div class="flex-ns flex-wrap-ns items-end">
    <div class="pv2 pa2-ns w-50-m w-33-l">
      <%= image_tag '007-algonquin.jpg' %>
    </div>
    <div class="pv2 pa2-ns w-50-m w-33-l">
      <%= image_tag '008-algonquin.jpg' %>
    </div>
    <div class="pv2 pa2-ns w-50-m w-33-l">
      <%= image_tag '009-algonquin.jpg' %>
    </div>
    <div class="pv2 pa2-ns w-50-m w-33-l">
      <%= image_tag '010-algonquin.jpg' %>
    </div>
    <div class="pv2 pa2-ns w-50-m w-33-l">
      <%= image_tag '011-algonquin.jpg' %>
    </div>
    <div class="pv2 pa2-ns w-50-m w-33-l">
      <%= image_tag '012-algonquin.jpg' %>
    </div>
  </div>

  <div class="lh-copy measure center pv4 f5">
    <p>On the last day we paddled to an island across the lake, just before sunset.</p>
  </div>

  <div class="flex-ns flex-wrap-m">
    <div class="pv2 pa2-ns w-50-m">
      <%= image_tag '013-algonquin.jpg' %>
    </div>
    <div class="pv2 pa2-ns w-50-m">
      <%= image_tag '014-algonquin.jpg' %>
    </div>
    <div class="pv2 pa2-ns">
      <%= image_tag '015-algonquin.jpg' %>
    </div>
  </div>

  <div class="pv2 pa2-ns">
    <%= image_tag '020-algonquin.jpg' %>
  </div>

  <div class="flex-ns flex-wrap-m">
    <div class="pv2 pa2-ns w-50-m">
      <%= image_tag '016-algonquin.jpg' %>
    </div>
    <div class="pv2 pa2-ns w-50-m">
      <%= image_tag '017-algonquin.jpg' %>
    </div>
    <div class="pv2 pa2-ns w-50-m">
      <%= image_tag '019-algonquin.jpg' %>
    </div>
    <div class="pv2 pa2-ns w-50-m">
      <%= image_tag '018-algonquin.jpg' %>
    </div>
  </div>

  <div class="lh-copy measure center pv4 f5">
    <p>We made the trip out in record time, maybe even more quickly than our easy trip last year, but even still I think we should take it easier next year.</p>
  </div>
</div>
