---
title: o.s.a. lake, killarney
published: true
date: 2019-10-03
essay: true
thumb: /photos/2019/osa-lake/thumb.jpg
description: All the natural beauty you can get in Ontario.
---

<div class="lightbox ph4 center athelas lh-copy f4">

  <header class="flex-l justify-between">
    <div class="w-20-l">
      <h1 class="f-headline tracked-tight fw1 i lh-solid ma0-l">O.S.A. Lake, Killarney</h1>
      <p class="f4 i">September, 2019</p>
      <p class="f3">In Ontario there are no mountains. Instead, we endure diatribes from our friends who
live out West about how much there is to do on and around them.</p>
    </div>
    <div class="w-70-l">
      <%= image_tag '009-osa-lake.jpg', alt: 'Sunrise on O.S.A. Lake.' %>
    </div>
  </header>

  <div class="cc3-l w-80-l center mv4">
    <p>But if you move there you become one of these people. So, in Toronto we drive
    north, braving cottage country traffic, to Algonquin and Killarney Provincial
    Parks to get into the wilderness and as close as we can to elevation.</p>

    <p>Killarney Provincial Park owes its creation to the artists who painted it in
    the late 19th and early 20th centuries. A.Y. Jackson, a member of the Group of
    Seven, lobbied the premiere of Ontario to save Trout Lake from logging. The
    government protected the lake in 1932 and it later became O.S.A. Lake in
    tribute to the Ontario Society of Artists. Jackson co-founded the society and
    it was instrumental in forming the Art Gallery of Ontario and the
    Ontario College of Art.</p>
  </div>

  <h2 class="f1 tracked-tight fw1 i tc">The paddle in</h2>

  <div class="flex-ns items-center">
    <div class="pv2 pa2-ns">
      <%= image_tag '001-osa-lake.jpg', alt: 'The paddle in on George Lake.' %>
    </div>
    <div class="pv2 pa2-ns">
      <%= image_tag '003-osa-lake.jpg', alt: 'Killarney Lake.' %>
    </div>
  </div>

  <div class="cc3-l w-80-l center mv4">
    <p>As soon as you reach the beach at George Lake Campground you can understand
    Jackson&rsquo;s drive to preserve these lakes. The white quartzite hills poke like
    sharks from the pines in every direction. Dark blue water ringed by the warm
    pink granite rock faces. Late September sprinkled red and orange around the peaks.</p>

    <p>These hills are the La Cloche Mountains, once taller than the Rockies, scraped
    off by the glacial ice sheets that formed Ontario&rsquo;s landscape. The quartzite is
    luminous, reflecting the sun in dazzling ways throughout the day.</p>

    <p>O.S.A. Lake is accessible with a few hours of paddling through three lakes and some
    small portages, but carrying the gear for a five night stay can make it
    grueling all the same. We don&rsquo;t pack light—it&rsquo;s a vacation.</p>
  </div>

  <div class="flex-ns items-center">
    <div class="pv2 pa2-ns w-third-ns">
      <%= image_tag '006-osa-lake.jpg', alt: 'Setting out for firewood.' %>
    </div>
    <div class="pv2 pa2-ns w-third-ns">
      <%= image_tag '008-osa-lake.jpg', alt: 'Weathered log on firewood island.' %>
    </div>
    <div class="pv2 pa2-ns w-third-ns">
      <%= image_tag '007-osa-lake.jpg', alt: 'Chris gets to work on a felled tree.' %>
    </div>
  </div>

  <h2 id="the-lake" class="f1 tracked-tight fw1 i tc">The lake</h2>

  <%= image_tag '014-osa-lake.jpg', alt: 'O.S.A. Lake at sunset.', class: 'w-100' %>

  <div class="cc3-l w-80-l center mv4">
    <p>Upon reaching the lake most of the five campsites on the late were already
      occupied, but our island site ended up being a great choice, with panoramic
      views of the lake. It let us unleash our dogs without having to worry about
      them running&nbsp;off.</p>

    <p>That day was beautiful as we hung our tarps and set off later in the canoes to find
      firewood on a smaller island nearby. One downside to an island campsite is they are
      picked clear of good fuel wood this late in the season. We knew we were in for rain
      on at least two of our days, so tarps and a big fire were essential.</p>
  </div>

  <div class="flex-ns items-center">
    <div class="pv2 pa2-ns">
      <%= image_tag '017-osa-lake.jpg', alt: 'Dinner at sunset.' %>
    </div>
    <div class="pv2 pa2-ns">
      <%= image_tag '012-osa-lake.jpg', alt: 'A quick swim.' %>
    </div>
  </div>

  <h2 id="a-climb" class="f1 tracked-tight fw1 i tc">A climb</h2>

  <div class="flex-ns items-center">
    <div class="pv2 pa2-ns w-30-ns">
      <%= image_tag '015-osa-lake.jpg', alt: 'Climbing up La Cloche.' %>
    </div>
    <div class="pv2 pa2-ns w-70-ns">
      <%= image_tag '016-osa-lake.jpg', alt: 'Lunch on top of the lake.' %>
    </div>
  </div>

  <div class="cc3-l w-80-l center mv4">
    <p>On our fourth day the weather was clear so we climbed a hill to the north.
      We landed our canoes just east of the campsite on the north shore and
      headed northeast up the quartz. We were able to follow a stream to avoid the
      steepest cliffs, working our way around to the far side of the mountain where
      the grade is more even.</p>

    <p>The peak gave us priceless views looking out through the other mountains of
      Killarney and through to Georgian Bay.</p>

    <p>But if you get up early and have your camera ready you can capture some magic.</p>
  </div>

  <div class="tc">
    <%= image_tag '004-osa-lake.jpg', alt: 'River and Jen explore the island.' %>
  </div>

  <div class="flex-ns items-center">
    <div class="pv2 pa2-ns">
      <%= image_tag '010-osa-lake.jpg', alt: 'Sara reads some Canadiana.' %>
    </div>
    <div class="pv2 pa2-ns">
      <%= image_tag '018-osa-lake.jpg', alt: 'Sara reads some Canadiana.' %>
    </div>
    <div class="pv2 pa2-ns">
      <%= image_tag '011-osa-lake.jpg', alt: 'River waits out the rain.' %>
    </div>
  </div>
</div>
